certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
facebook-sdk==3.1.0
Flask==2.0.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
keyboard==0.13.5
MarkupSafe==2.0.1
numpy==1.21.5
pygame==2.1.0
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
requests==2.26.0
SQLAlchemy==1.4.28
urllib3==1.26.7
Werkzeug==2.0.2
